@{
    ViewData["Title"] = "Index";
}
@model Dictionary<object, IEnumerable<object>>

<div class="mybackground table-responsive">
    <ul class="nav nav-tabs nav-justified">
        <li class="active" role="presentation"><a href="#emp" data-toggle="tab" class="btn btn-outline-light" role="button">员工信息</a></li>
        <li role="presentation"><a href="#dep" data-toggle="tab" class="btn btn-outline-light" role="button">部门信息</a></li>
        <li role="presentation"><a href="#move" data-toggle="tab" class="btn btn-outline-light" role="button">调动信息</a></li>
        <li role="presentation"><a href="#find" data-toggle="tab" class="btn btn-outline-light" role="button">查询员工</a></li>
        <li role="presentation"><a href="#add" data-toggle="tab" class="btn btn-outline-light" role="button">添加操作</a></li>
        <li role="presentation"><a href="#put" data-toggle="tab" class="btn btn-outline-light" role="button">查看申请</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="emp">
            <table class="table table-hover ">
                <caption>员工信息</caption>
                <thead>
                    <tr>
                        <th>工号</th>
                        <th>姓名</th>
                        <th>工作状态</th>
                        <th>入职时间</th>
                        <th>工作岗位</th>
                        <th>职务</th>
                        <th>部门编号</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var em = (IEnumerable<Employee>)Model["emp"];
                        foreach (var i in em)
                        {
                            <tr>
                                <td>@i.EmpId</td>
                                <td>@i.Name</td>
                                <td>@i.State</td>
                                <td>@i.WorkStart</td>
                                <td>@i.Job</td>
                                <td>@i.Position</td>
                                <td>@i.DepId</td>
                                <td>
                                    <a href="@Url.Action("EditorEmployee", "admin", new { id = i.EmpId })" class="btn btn-primary">编辑</a>
                                </td>
                            </tr>


                        }
                    }
                </tbody>

            </table>
        </div>
        <div class="tab-pane" id="dep">
            <table class="table table-hover ">
                <caption>部门信息</caption>
                <thead>
                    <tr>
                        <th>部门编号</th>
                        <th>部门姓名</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var dep = (IEnumerable<Department>)Model["dep"];
                        foreach (var i in dep)
                        {
                            <tr>
                                <td>@i.DepId</td>
                                <td>@i.Name</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="move">
            <table class="table table-hover ">
                <caption>调动信息</caption>
                <thead>
                    <tr>
                        <th>ID号</th>
                        <th>员工工号</th>
                        <th>调动日期</th>
                        <th>原部门</th>
                        <th>现部门</th>
                        <th>调动原因</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var MD = (IEnumerable<MoveDep>)Model["moveDep"];
                        foreach (var i in MD)
                        {
                            <tr>
                                <td>@i.Id</td>
                                <td>@i.EmpId</td>
                                <td>@i.Day</td>
                                <td>@i.DepForm</td>
                                <td>@i.DepTo</td>
                                <td>@i.Reason</td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
        <div class="tab-pane" id="find">
            <div class="form-group">
                <label>ID号：</label>
                <input type="text" class="col-auto" id="name" placeholder="001">
                <button onclick="ajaxbtn()" class="btn btn-outline-primary">查询</button>
            </div>
            <div>
                <table class="table table-hover">
                    <caption>员工信息</caption>
                    <thead>
                        <tr>
                            <th>工号</th>
                            <th>姓名</th>
                            <th>工作状态</th>
                            <th>入职时间</th>
                            <th>工作岗位</th>
                            <th>职务</th>
                            <th>部门编号</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="tr1"></tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-hover ">
                    <caption>调动信息</caption>
                    <thead>
                        <tr>
                            <th>ID号</th>
                            <th>员工工号</th>
                            <th>调动日期</th>
                            <th>原部门</th>
                            <th>现部门</th>
                            <th>调动原因</th>
                        </tr>
                    </thead>
                    <tbody id="tb1">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="add">
            <form asp-controller="admin" asp-action="AddEmployee" method="post" class="mt-3">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">员工ID号：</label>
                    <div class="col-sm-6">
                        <input name="EmpId" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">姓名：</label>
                    <div class="col-sm-6">
                        <input name="Name" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">工作状态：</label>
                    <div class="col-sm-6">
                        <input name="State" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">入职时间：</label>
                    <div class="col-sm-6">
                        <input name="WorkStart" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">岗位：</label>
                    <div class="col-sm-6">
                        <input name="Job" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">职务：</label>
                    <div class="col-sm-6">
                        <input name="Position" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">部门ID号：</label>
                    <div class="col-sm-6">
                        <input name="DepId" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">登录账号：</label>
                    <div class="col-sm-6">
                        <input name="UserName" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">密码：</label>
                    <div class="col-sm-6">
                        <input name="Passward" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div>
                        <button type="submit" class="btn btn-primary col-auto">添加</button>
                        <a href="@Url.Action("index","admin",new {p=Model})" class="btn btn-danger">返回</a>
                    </div>
                </div>

            </form>

        </div>
        <div class="tab-pane" id="put">
            <table class="table table-hover ">
                <caption>申请信息</caption>
                <thead>
                    <tr>
                        <th>ID号</th>
                        <th>员工ID号</th>
                        <th>申请成功后工作状态</th>
                        <th>申请原因/申请调动部门</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    var ap = (IEnumerable<Apply>)Model["apply"];
                    foreach (var i in ap)
                    {
                        if (i.IsSure == false)
                        {
                            <tr>
                                <td>@i.Id</td>
                                <td>@i.EmpId</td>
                                <td>@i.StateChange</td>
                                <td>@i.Reason</td>
                                <td>
                                    <a class="btn btn-primary" onclick="btnOn1(@i.Id)">同意</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" onclick="btnOn2(@i.Id)">不同意</a>
                                </td>
                            </tr>
                        }

                    }
                }
                </tbody>

            </table>
        </div>
   
</div>
</div>

<script type="text/javascript">
    window.onload = function () {
        this.document.getElementById("loginIndex").text="admin";
    }
    function ajaxbtn() {
        $.ajax({
            url: "/admin/Find",
            data:{ "text": document.getElementById("name").value },
            type: "post",
            dataType: "text",
            success: function (data) {
                $("#tr1").empty();
                $("#tb1").empty();
                if (data == null) alert("输入ID号有误！");
                else {
                    var tr = document.getElementById("tr1");
                    var strs = new Array();
                    strs = data.split(" ");
                    for (i = 0; i < 7; i++)
                        $("#tr1").append("<td>" + strs[i] + "</td>");
                    for (var i = 7, j = 0; i < strs.length; i++) {
                        if ((i - 7) % 6 == 0) {
                            j++;
                            $("#tb1").append("<tr id=\"tr2" + j + "\"></tr>");
                        }
                        $("#tr2"+j).append("<td>" + strs[i] + "</td>");
                    }

                }
            }
        });
    }
    function btnOn1(data) {
        var flag = confirm("确定同意吗？")
        if (flag) {
            location.href = "/admin/applySure?id=" + data + "&flag=true";
        }
    }
    function btnOn2(data) {
        var flag = confirm("确定不同意吗？")
        if (flag) {
            location.href = "/admin/applySure?id=" + data + "&flag=false";
        }
    }
</script>
